body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2E2E2E;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 .col-1, #LayoutGrid3 .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 .col-1, #LayoutGrid3 .col-2
{
   float: left;
}
#LayoutGrid3 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: right;
}
#LayoutGrid3 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: right;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 .col-1, #LayoutGrid3 .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 15px 0px 0px 0px;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 43px;
   margin: 0;
   text-align: right;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 640px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Shape2
{
   top: 0px;
   width: 130px;
   height: 38px;
   background-color: #3370B7;
   background-image: none;
   border: 1px #245580 solid;
   border-radius: 4px;
}
#Shape2:hover
{
   background-color: #265A88;
   background-image: none;
   border: 1px #245580 solid;
}
#Shape2_text
{
   position: absolute;
   left: 3px;
   top: 11px;
   width: 124px;
   height: 23px;
   overflow: hidden;
   text-align: center;
}
